html { background: #FFFFFF url('back.jpg') repeat; }
body { background: #FFFFFF; margin: 5px 20px; padding: 10px;}
p {color: #669999;}
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }
input, select, textarea, th, td { font-size: 1em; }
